{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            [
              "styled-jsx-plugin-postcss",
              {
                "compileEnv": "process",
                "lockTimeout": 60000
              }
            ]
          ]
        }
      }
    ]
  ]
}
